<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body{
        background-color: aliceblue;
      }
    </style>
</head>

<body>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>Result from Account Search</h1>
    </div>
    <ul>
      <table style= "float:left" border ="1">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Profile Type</th>
        <tr>
          <td style="padding:15px"><%= accounts.first_name %></td>
          <td style="padding:15px"><%= accounts.last_name %></td>
          <td style="padding:15px"><%= accounts.username %></td>
          <td style="padding:15px"><%= accounts.password %></td>
          <td style="padding:15px"><%= accounts.profiletype %></td>
        </tr>
      </table>
    </ul>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <button type="button" style="border-color:red" onclick="Back()">Back</button>
    <script>
      function Back()
      {
        location.href = "adminPage.html";
      }
    </script>
</body>
</html>
