<!DOCTYPE html>
<html lang="en">
<head>
    <style>

    </style>
</head>

<body>
  <div class="container-fluid">
    <div class="alert alert-secondary text-center">
      <h1>View all Accounts from selected Profile</h1>
    </div>
    <ul>
      <% accounts.forEach(function(account) { %>
        <table style= "float:left" border ="1">
          <tr>
          <td style="padding:15px">
            <Strong>First Name: </Strong><%= account.first_name %><br/>
            <Strong>Last Name: </Strong><%= account.last_name %><br/>
            <Strong>UserName: </Strong><%= account.username %><br/>
            <Strong>Password: </Strong><%= account.password %><br/>
            <Strong>Profile Type: </Strong><%= account.profiletype %><br/>
          </td>
        </tr>
      </table>
        <% }); %>
    </ul>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <button type="button" style="border-color:red" onclick="Back()">Back</button>
    <script>
      function Back()
      {
        location.href = "adminPage.html";
      }
    </script>
</body>
</html>
